* text=auto !eol
F2Dev/MiniFlow/interfaces/bases/baseLink.php -text
F2Dev/MiniFlow/interfaces/bases/baseNode.php -text
F2Dev/MiniFlow/interfaces/linkInterface.php -text
F2Dev/MiniFlow/interfaces/nodeInterface.php -text
F2Dev/MiniFlow/miniflow.php -text
F2Dev/MiniFlow/test/HelloNode.php -text
F2Dev/MiniFlow/test/RandomLink.php -text
F2Dev/MiniFlow/test/TestFlow.php -text
