* text=auto !eol
interfaces/bases/baseLink.php -text
interfaces/bases/baseNode.php -text
interfaces/linkInterface.php -text
interfaces/nodeInterface.php -text
/miniflow.php -text
test/HelloNode.php -text
test/RandomLink.php -text
test/TestFlow.php -text
