* text=auto !eol
F2Dev/MiniFlow/Interfaces/Bases/BaseLink.php -text
F2Dev/MiniFlow/Interfaces/Bases/BaseNode.php -text
F2Dev/MiniFlow/Interfaces/LinkInterface.php -text
F2Dev/MiniFlow/Interfaces/NodeInterface.php -text
F2Dev/MiniFlow/MiniFlow.php -text
F2Dev/MiniFlow/Test/HelloNode.php -text
F2Dev/MiniFlow/Test/RandomLink.php -text
F2Dev/MiniFlow/Test/TestFlow.php -text
